<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1">

  {% set title = section.title | default(value=page.title) %}
  <title>{{ title }}</title>
  <meta name="description" content="{{ section.description | default(value=page.description) }}">
  <meta name="keywords" content="{% block meta_keywords %}{{ section.extra.keywords }}{% endblock meta_keywords %}">

  <link rel="canonical" href="{{ section.permalink | default(value=page.permalink) }}">
  <link rel="icon" type="image/png" href="{{ get_url(path="assets/img/icons/favicon-16x16.png") }}" sizes="16x16" />
  <link rel="icon" type="image/png" href="{{ get_url(path="assets/img/icons/favicon-32x32.png") }}" sizes="32x32" />

  <link rel="stylesheet" href="{{ get_url(path="assets/css/styles.css") }}">
  {% block css -%}
  {% if section.extra.css -%}
  {% for css_uri in section.extra.css -%}
  <link rel="stylesheet" href="{{ get_url(path="assets/css/" ~ css_uri ~ ".css") }}">
  {% endfor %}
  {%- endif %}
  {%- endblock css %}
</head>

<body>

  <main class="area">
    <article>
      {% block body %}{{ section.content | safe }}{% endblock body %}
    </article>

    <footer>
      {%- block footer -%}{% endblock footer %}
    </footer>
  </main>

  <aside class="area">
    <div class="wrapper">
      <div class="title">
        <a href="/" title="{{ config.title }}" rel="home">
          <span>{{ config.title }}</span>
          <p>{{ config.description }}</p>
        </a>
      </div>

      <div class="social">
        <ul>
          <li><a href="https://twitter.com/sudaraka" rel="me" target="_blank" title="My Twitter account"><img class="icon" alt="Twitter" src="{{ get_url(path="assets/img/icons/twitter.svg") }}" /></a></li>
          <li><a href="https://gitlab.com/sudarakaw" rel="me" target="_blank" title="My Gitlab profile"><img class="icon" alt="Gitlab" src="{{ get_url(path="assets/img/icons/gitlab.svg") }}" /></a></li>
        </ul>
      </div>

      <nav class="links">
        <a href="{{ get_url(path="@/about-sudaraka-wijesinghe.md") }}">about</a> | <a href="{{ get_url(path="@/resume.md") }}">résumé</a> | <a href="{{ get_url(path="@/contact.md") }}">contact</a>
      </nav>

      {% block toc %}{% endblock toc %}

      <div class="navigation">
        <ul>
          <li><a href="{{ get_url(path="@/portfolio/_index.md") }}">Portfolio</a></li>
          <li><a href="{{ get_url(path="@/testimonials.md") }}">Testimonials</a></li>
          <li><a href="{{ get_url(path="@/achievements.md") }}">Achievements</a></li>
          <li><a href="{{ get_url(path="@/chronicles/_index.md") }}">The Chronicle</a></li>
          <li><a href="{{ get_url(path="@/how-to/_index.md") }}">How-To Articles</a></li>
          <li><a href="{{ get_url(path="@/code-snippets/_index.md") }}">Code Snippets</a></li>
          <li><a href="{{ get_url(path="@/gallery.md") }}">Gallery</a></li>
          <li><a href="{{ get_url(path="@/note-to-self/_index.md") }}">Notes To Self</a></li>
        </ul>
      </div>

      <div class="clear"></div>

      <div class="crl">

        <nav class="links">
          <a href="{{ get_url(path="@/terms-and-conditions.md") }}">terms & conditions</a> | <a href="{{ get_url(path="@/disclaimer.md") }}">disclaimer</a> | <a href="{{ get_url(path="@/policy.md") }}">policy</a>
        </nav>

        <cite>Sudaraka.Org &mdash; <a href="{{ get_url(path="@/copyright.md") }}#article-page-content-on-sudaraka-org">Copyright</a> 2012-2020 <a rel="me" href="{{ get_url(path="@/about-sudaraka-wijesinghe.md") }}">Sudaraka Wijesinghe</a>.</cite>

        <p>
          <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Sudaraka.Org</span> by <a xmlns:cc="https://creativecommons.org/ns#" href="https://sudaraka.org/" property="cc:attributionName" rel="cc:attributionURL">Sudaraka Wijesinghe</a> is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://bitbucket.org/sudaraka/sudaraka.org/" rel="dct:source">https://bitbucket.org/sudaraka/sudaraka.org/</a>.<br />Permissions beyond the scope of this license may be available at <a xmlns:cc="https://creativecommons.org/ns#" href="{{ get_url(path="@/terms-and-conditions.md") }}" rel="cc:morePermissions">Terms &amp; Conditions</a>.
        </p>
        <br />

        <cite>Template &mdash; <a href="{{ get_url(path="@/copyright.md") }}#template-for-sudaraka-org">Copyright</a> 2018-2020 <a rel="me" href="{{ get_url(path="@/about-sudaraka-wijesinghe.md") }}">Sudaraka Wijesinghe</a>.</cite>

        <p>
          This program comes with ABSOLUTELY NO WARRANTY;
          This is free software, and you are welcome to redistribute it and/or modify
          it under the terms of the BSD 2-clause License. See the LICENSE file for more
          details.
        </p>

        <p>Get the source code from <a href="https://bitbucket.org/sudaraka/sudaraka.org" target="_new">Git repository</a>.</p>

      </div>
    </div>
  </aside>

  <script src="{{ get_url(path="assets/js/main.js") }}"></script>
  {% block js -%}
  {% if section.extra.js %}<link rel="stylesheet" href="{{ get_url(path="assets/js/" ~ section.extra.js ~ ".js") }}">{% endif %}
  {% if section.extra.js -%}
  {% for js_uri in section.extra.js -%}
  <script src="{{ get_url(path="assets/js/" ~ js_uri ~ ".js") }}"></script>
  {%- endfor %}
  {%- endif %}
  {%- endblock js %}
</body>

</html>
