{% extends "index.html" %}

{% block meta_keywords %}{{ page.extra.keywords | default(value="") }}{% endblock meta_keywords %}

{% block css -%}
{% if page.extra.css -%}
{% for css_uri in page.extra.css -%}
<link rel="stylesheet" href="{{ get_url(path="assets/css/" ~ css_uri ~ ".css") }}">
{% endfor %}
{%- endif %}
{%- endblock css %}

{% block js -%}
{% if page.extra.js -%}
{% for js_uri in page.extra.js -%}
<script src="{{ get_url(path="assets/js/" ~ js_uri ~ ".js") }}"></script>
{% endfor %}
{%- endif %}
{%- endblock js %}

{% block toc -%}
{% if page.toc -%}
<div class="toc">
  <ul>
    {% for h1 in page.toc -%}
    <li>
      <a href="#{{ h1.id }}">{{ h1.title }}</a>
      {%- if h1.children %}
      <ul>
        {% for h2 in h1.children -%}
        <li><a href="#{{ h2.id }}">{{ h2.title }}</a></li>
        {% endfor -%}
      </ul>
      {%- endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{%- endif %}
{%- endblock toc %}

{% block body %}
<h1>{{ page.title }}</h1>
{{ page.content | safe }}
{% endblock body %}

{% block footer %}
{%- if page.components and 1 < page.components | length() %}
  <p>
    Article published on {{ page.date | date(format="%B %d, %Y %l:%M%P %Z") }}
    <br />
    Author: <cite><a href="/about-sudaraka-wijesinghe/" rel="author">Sudaraka Wijesinghe</a>.</cite>
  </p>
  <nav>
    {%- if page.later -%}
    <div>
      <a href="{{ page.later.permalink }}">{{ page.later.title }}</a> <span class="arrow">&larr;</span>
    </div>
    {%- endif -%}
    {%- if page.earlier -%}
    <div>
      <span class="arrow">&rarr;</span> <a href="{{ page.earlier.permalink }}">{{ page.earlier.title }}</a>
    </div>
    {%- endif -%}
  </nav>
{%- endif -%}
{% endblock footer %}
