{% extends "page.html" %}

{% block meta_keywords %}{{ section.extra.keywords | default(value="") }}{% endblock meta_keywords %}

{% block css -%}
{% if section.extra.css -%}
{% for css_uri in section.extra.css -%}
<link rel="stylesheet" href="{{ get_url(path="assets/css/" ~ css_uri ~ ".css") }}">
{% endfor %}
{%- endif %}
{%- endblock css %}

{% block js -%}
{% if section.extra.js -%}
{% for js_uri in section.extra.js -%}
<script src="{{ get_url(path="assets/js/" ~ js_uri ~ ".js") }}"></script>
{% endfor %}
{%- endif %}
{%- endblock js %}

{% block body %}
<h1 class="section-title">{{ section.title }}</h1>
{{ section.content | safe }}

{%- if not section.extra.no_index -%}
{% for page in section.pages %}
<article class="section-list">
  <a href="{{ page.permalink }}">
    <h2>{{ page.title }}</h2>
  </a>
  <small>
    <time>{{ page.date | date(format="%B %d, %Y %l:%M%P") }}</time>
  </small>
  {{ page.summary | default(value=page.description) | safe }}
</article>
{% endfor %}
{%- endif -%}
{% endblock body %}
