& > aside
  color: #fff
  min-width: 300px
  width: 30%

  @media screen and (max-width: 550px)
    width: 100%

  @media screen and (min-width: 550px) and (max-width: 1267px)
    height: 72px
    width: 100%
    position: absolute
    top: 0
    left: 0

  .wrapper
    padding: 2em

    @media screen and (min-width: 550px) and (max-width: 1267px)
      padding: 0

    .title
      background: transparent url(/assets/img/face-gray.jpg) no-repeat left center
      min-height: 72px
      padding-left: 88px

      @media screen and (min-width: 550px) and (max-width: 1267px)
        padding-left: 80px

      span
        color: #888
        font: bold 1.4em/1em 'Droid Sans', sans-serif

        @media screen and (max-width: 550px)
          line-height: 1.8em

        @media screen and (min-width: 550px) and (max-width: 1267px)
          line-height: 1.8em

        @media screen and (min-width: 1794px)
          font-size: 2.4em

      p
        color: #888
        font: italic .75em/1em 'DejaVu Serif', 'Droid Serif', serif
        letter-spacing: .05em
        margin: 1em 0
        white-space: nowrap

        @media screen and (max-width: 550px)
          font-size: .9375em
          margin: 0

        @media screen and (min-width: 550px) and (max-width: 1267px)
          font-size: .75em
          margin: 0


    .social
      float: left

      ul
        list-style-type: none
        margin: .5em 0
        overflow: hidden

        @media screen and (min-width: 550px) and (max-width: 1267px)
          position: absolute
          top: 0
          right: 0
          margin: .5em

      li
        float: left
        margin: 0 1.83em 0 0
        text-align: center

        @media screen and (min-width: 550px) and (max-width: 1267px)
          margin: 0 0 0 1em

      .icon
        height: 32px
        width: 32px
        margin: 0 auto

      li
        opacity: .5
        filter: alpha(opacity=50)

        &:hover
          opacity: 1
          filter: alpha(opacity=100)


    .links
      clear: right
      color: #333
      float: right

      @media screen and (min-width: 550px) and (max-width: 1267px)
        margin: .5em
        position: absolute
        right: 0
        bottom: 0

      p
        margin: 0

      a
        color: #ccc
        font-size: .75em

        &:hover
          color: #fff


    .toc
      clear: both
      padding-top: 2em

      @media screen and (min-width: 550px) and (max-width: 1267px)
        display: none

      a
        color: #aaa
        font-family: 'Droid Sans', sans-serif

      ul
        clear: both
        list-style-type: none

        ul
          font-size: .9em
          margin-left: .5em

          li
            border-top: none
            line-height: 1.25em
            padding: 0

            &:before
              color: #888
              content: '→'
              float: left
              margin-right: .25em

      li
        padding: .25em 0

        & + li
          border-top: 1px dotted #333


    .navigation
      clear: both
      margin: 2.5em 0

      @media screen and (min-width: 550px) and (max-width: 1267px)
        background-color: #222
        display: none
        margin: 0
        position: absolute

    .navigation ul
      list-style-type: none

    .navigation a
      color: #ccc
      font: normal 1.25em/1em 'Droid Sans Mono', sans-serif

    .navigation a:hover
      color: #fff

    .navigation  li
      padding: .5em 0

      @media screen and (min-width: 550px) and (max-width: 1267px)
        padding: .5em 1em

    .navigation  li + li
      border-top: 1px dotted #333

    @media screen and (min-width: 550px) and (max-width: 1267px)
      &:hover .navigation
        display: block


    .crl
      font: italic normal .7em/1.5em 'DejaVu Serif', 'Droid Serif', serif
      margin: 5em 0 1em

      @media screen and (min-width: 550px) and (max-width: 1267px)
        display: none

      &, & *
        color: #888
        text-align: justify

      .links
        float: none
        clear: both
        color: #333
        margin: 2em 0
        text-align: left

      .links a
        border: none
        font: normal 1.0714em 'DejaVu Serif', 'Droid Serif', serif !important

      .links a:hover
        color: #fff

      cite
        display: block
        margin: 1em 0

      a
        border-bottom: 1px dotted #888
