& > main
  background-color: #fff
  height: 100%
  width: 70%
  min-height: 1920px

  @media screen and (max-width: 550px)
    min-height: 0
    width: 100%

  @media screen and (min-width: 550px) and (max-width: 1267px)
    margin-top: 72px
    min-height: 0
    width: 100%

  @media screen and (max-height: 1600px)
    min-height: 1600px

  @media screen and (max-height: 1325px)
    min-height: 1325px

  article, footer
    padding: 2em 2.5em

  table
    background-color: #eee
    border: 1px solid #888
    border-collapse: collapse
    font-size: .9em

    th, td
      padding: .25em .5em

    th + th,
    td + td,
    th + td,
    td + th
      border-left: 1px solid #888

    tbody
      td, th
        border-top: 1px solid #888

  blockquote
    background-color: #eee
    border: 1px dotted #888
    margin: .5em 0
    padding: 1em .5em

    &:before
      color: #666
      content: '“'
      float: left
      font: normal 4em/.1em 'Droid Serif', 'DejaVu Serif', serif
      padding-top: .25em

    &:after
      color: #666
      content: '”'
      float: right
      font: normal 4em/.1em 'Droid Serif', 'DejaVu Serif', serif

  ol
    padding-left: 2em

  pre
    padding: .75em 1em
    font: normal 1em/1.3em 'DejaVu Sans Mono', 'Droid Sans Mono', monospace !important

    &.console
      background-color: #111
      color: #aaa
      overflow-x: auto
      padding: .75em .5em
      white-space: pre

      strong + kbd
        font-weight: normal !important

      kbd
        color: #E0C341
        font: bold 1em/1em 'DejaVu Sans Mono', 'Droid Sans Mono', monospace !important

      strong
        display: inline-block
        margin: .4em 0
        color: #89d72a
        font: bold 1em/1em 'DejaVu Sans Mono', 'Droid Sans Mono', monospace !important

      b
        color: #fff

  footer
    font-size: .8em

    p
      font-style: italic

    nav
      background-color: #f0f0f0
      padding: 1em
      display: grid
      grid-template-columns: 1fr 1fr
      grid-gap: 2em

      & > *
        display: grid
        grid-auto-flow: column
        grid-gap: 1em

      & > :first-child
        justify-self: right

      & > :last-child
        justify-self: left

      .arrow
        font-size: 2.5em
      color: #333

      a, a:hover, a:active, a:focus, a:hover:active
        border: none
        color: #333

  a, a:active
    border-bottom: 1px dotted #000
    color: #000

    &[href*="#popup"]
      &, &:hover
        border-bottom: none

    &:hover
      border-bottom: 1px solid #000

    &.external
      &, &:active
        border-bottom: 1px dotted #880000
        color: #880000

        &:hover
          border-bottom: 1px solid #880000

  // Styles for section listing {
  .section-title
    color: #000

  .section-list
    padding: 0

    h2
      margin-bottom: .125em

    time
      display: inline-block
      font-style: italic
      margin-bottom: 1em
  // Styles for section listing }
