@font-face
  font-family: 'Droid Sans Mono'
  font-style: normal
  font-weight: normal
  src: local('Droid Sans Mono'), local('DroidSansMono'), url('../fonts/DroidSansMono.woff') format('woff')

@font-face
  font-family: 'Droid Sans'
  font-style: normal
  font-weight: normal
  src: local('Droid Sans'), local('DroidSans'), url('../fonts/DroidSans.woff') format('woff')

@font-face
  font-family: 'Droid Sans'
  font-style: normal
  font-weight: bold
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('../fonts/DroidSans-Bold.woff') format('woff')

@font-face
  font-family: 'Droid Serif'
  font-style: normal
  font-weight: normal
  src: local('Droid Serif'), local('DroidSerif'), url('../fonts/DroidSerif.woff') format('woff')

@font-face
  font-family: 'Droid Serif'
  font-style: normal
  font-weight: bold
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url('../fonts/DroidSerif-Bold.woff') format('woff')

@font-face
  font-family: 'Droid Serif'
  font-style: italic
  font-weight: normal
  src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url('../fonts/DroidSerif-Italic.woff') format('woff')

@font-face
  font-family: 'Droid Serif'
  font-style: italic
  font-weight: bold
  src: local('Droid Serif Bold Italic'), local('DroidSerif-BoldItalic'), url('../fonts/DroidSerif-BoldItalic.woff') format('woff')
