body > main
  .certs
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 2rem
    justify-items: center

    & > p
      display: grid
      text-align: center

    a, a.external
      &, &:active, &:hover, &:hover:active
        border: none
        text-decoration: none

    img
      border: 1px solid #ccc
      margin: .75%
      padding: 1px

      &[src*="coursera-pl-"]
        border: none

    &.coursera-certs, &.ee-certs
      grid-template-columns: 1fr 1fr 1fr
      grid-gap: 1rem
