body > main
  background-color: #000
  color: #666

  article > h1
    display: none

  h2
    color: #ccc
    font-family: 'Droid Serif', serif
    font-style: italic
    font-weight: bold
    border: none

  article > ul
    list-style: none
    display: flex

    li
      padding: 0 1rem

      & + li
        border-left: 1px solid #333

      &:first-child
        padding-left: 0

      a, h1
        color: #ccc
        font: italic 1.5em 'Droid Serif', serif
        margin: 0

      h1
        font-weight: bold

  .image-group
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 1rem

    p
      margin: 0

    a
      transition: .2s ease-in all
      opacity: .7

      &:hover
        opacity: 1

    img
      width: 100%
      height: auto
      max-height: 229px
