body > main
  background: #fff url(/assets/img/the_hermit.jpg) no-repeat 0 0

  h1
    clear: both
    float: right
    font: bold italic 2.2em 'Droid Serif', serif

  .welcome
    clear: both
    float: right
    text-align: right
    width: 70%

    small
      line-height: .7em

  .message
    clear: left
    float: left
    font-size: .9em
    margin: 0 1% 1% 30%
    min-height: 10em

  .column
    float: right
    clear: none
    margin: 1em 2%
    width: 28%

    strong em
      display: block
      text-align: center

    ul
      list-style-type: square

    li
      font-size: .9em
      line-height: 2em

  .column-1
    color: #660000
    width: 32%

    ul
      float: right
      font-size: .9em
      list-style-type: none

    li
      float: left
      width: 33%

  @media screen and (max-width: 1366px)
    .message
      clear: both
      float: right
      margin: 0
      width: 66%

    .column-1 li
      width: 50%

  @media screen and (max-width: 800px)
    .column
      margin: 1em 2%
      width: 46%

    .column-1
      clear: both
      float: none
      margin: 1% 0
      width: 100%

      ul
        font-size: 1em

      li
        width: 33%

  @media screen and (max-width: 700px)
    h1
      font-size: 1.5em

    .message
      clear: both
      float: none
      margin: 0
      width: 100%

  @media screen and (max-width: 420px)
    h1
      float: left
      font-size: 1.1em

    .welcome
      text-align: left
      width: 100%

    .column
      clear: both
      float: none
      margin: 1% 0
      width: 100%

    .column-1 li
      width: 50%
