body > main
  background-color: #000
  color: #999

  .section-title, h2
    color: #ccc
    border: none

  h1
    font-family: 'Droid Serif', serif
    font-style: italic
    font-weight: bold

  .project-list
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 1rem

    h2
      text-align: center

    img
      width: 100%
      height: auto

    .project
      max-height: 600px
      overflow: hidden
