@import '_fonts'

*
  margin: 0
  padding: 0

body
  background-color: #222
  color: #222
  font: normal 100%/1.5em 'DejaVu Serif', 'Droid Serif', serif
  height: 100%

  @media screen and (max-width: 550px)
    font-size: .8em

  @import '_body-main'
  @import '_body-aside'

a, a:active
  text-decoration: none

h1, h2, h3, h4, h5, h6
  font-family: 'Droid Sans', sans-serif
  color: #600

p, h1, h2, h3, h4, h5, h6, pre, .console, ol, ul, table, hr
  margin: 0 0 1em

code
  font-size: 1.2em
  background-color: #eee
  color: #633
  padding: 0 .5em
  border-radius: 2px

pre > code
  background-color: transparent
  padding: 0

h2
  border-top: 1px solid #ccc
  margin-top: 1em
  padding-top: .5em

.area
  clear: none
  float: left

.wrapper
  padding: 2em 2.5em

.clear
  clear: both

.hidden
  display: none

.leftalign
  text-align: left

.rightalign
  text-align: right


// Styles for Javascriptless lightbox {
.popup-overlay
  background-color: rgba(0,0, 0, .75)
  display: none
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0
  z-index: 99999

  &:target
    display: table

  a
    display: table-cell
    text-align: center
    vertical-align: middle

    & > *
      border: 8px solid #000
      margin: 2em auto
// Styles for Javascriptless lightbox  }
