body > main
  .cb-photos
    margin: 0 2rem 1rem
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 1rem

    & > div
      width: 100%
      max-width: 320px
      box-shadow: 0 0 3px rgba(0, 0, 0, .6)

      & > p
        display: grid
        grid-template-rows: 1fr minmax(1rem, 20%)
        margin: 0

        @media (max-width: 841px)
          &
            grid-template-rows: 1fr minmax(4rem, 20%)

        a
          grid-row: 1 / span 2
          grid-column: 1
          border: none

        span
          display: flex
          justify-content: center
          text-align: center
          align-items: center
          grid-row: 2
          grid-column: 1
          background-color: rgba(0, 0, 0, .7)
          color: #fff
          font-family: 'Droid Sans', sans-serif
          font-weight: bold
          padding: .5rem

          @media (max-width: 613px)
            &
              display: none

      img
        display: block
        width: 100%
        height: auto
