body>main{background-color:#000;color:#999}body>main .section-title,body>main h2{color:#ccc;border:none}body>main h1{font-family:'Droid Serif', serif;font-style:italic;font-weight:bold}body>main .project-list{display:grid;grid-template-columns:1fr 1fr 1fr;grid-gap:1rem}body>main .project-list h2{text-align:center}body>main .project-list img{width:100%;height:auto}body>main .project-list .project{max-height:600px;overflow:hidden}
